.speaker.info {
    display: inline-block !important;
}

.speaker-name-page{
    font-size: 6rem;
}
@media only screen and (max-width: 1200px){
    .speaker-name-page{
        font-size: 5rem;
    }
}
@media only screen and (max-width: 992px){
    .speaker-name-page{
        font-size: 4rem;
    }
}
