body {
    background-color: #00263E;
    color: #F97268;
}

a {
    color: white;
}

a:hover {
    text-decoration: none;
    color: inherit;
}

.wrap-text {
    float: left;
}

.btn, .form-control {
    border-radius: 0;
    outline: none;
    border: none;
}

.btn-primary {
    background-color: #F97268;
}

hr {
    background: none repeat scroll 0 0 #F97268;
    margin: 1em 0;
    clear: both;
    width: 100%;
}

.vertical-center {
    position: absolute;
    top: 50%;
    transform: translateY( -50%);
}